# python
__pycache__/
*.pyc
venv/

# config
config/client_secret.json
config/da_secret.txt
config/danbooru_key.txt
config/paste_ee_key.txt
config/token.txt
config/virustotal_key.txt
config/slack/*
config/pixiv.txt
config/io_game.py

# state
videoURLS.txt
youtube_ids.txt
xkcd/
memos.sqlite
cache.md
cache.txt
map.yml
htstars.sqlite
da_cache.json
invites.log
avatar_cache/
client_secret.json
config.yml
memelords.yml
latex.png
in_jail.yml

# editor configs
.vscode
.idea
