# python
__pycache__/
*.pyc
venv/
.idea

# config
config.yml
client_secret.json

# state
videoURLS.txt
youtube_ids.txt
xkcd/
memos.sqlite
cache.md
cache.txt
map.yml
htstars.sqlite
da_cache.json

# editor configs
.vscode
